
@{
    ViewBag.Title = "ShowTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hiển thị bảng</h2>
<table style="border: solid red 2px; border-collapse: collapse;" cellpadding="10">
    <tr>
        <td style="border: solid purple 2px;">Sản phẩm 1</td>
        <td style="border: solid purple 2px;">Sản phẩm 2</td>
        <td style="border: solid purple 2px;">Sản phẩm 3</td>
        <td style="border: solid purple 2px;">Sản phẩm 4</td>
    </tr>
    <tr>
        <td style="border: solid purple 2px;">Sản phẩm 5</td>
        <td style="border: solid purple 2px;">Sản phẩm 6</td>
        <td style="border: solid purple 2px;">Sản phẩm 7</td>
        <td style="border: solid purple 2px;">Sản phẩm 8</td>
    </tr>
    <tr>
        <td style="border: solid purple 2px;">Sản phẩm 9</td>
        <td style="border: solid purple 2px;">Sản phẩm 10</td>
        <td style="border: solid purple 2px;">Sản phẩm 11</td>
        <td style="border: solid purple 2px;">Sản phẩm 12</td>
    </tr>
</table>

