
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <form method="post">
        nhập a: <input name="a" />
        nhập b: <input name="b" />
        Cộng <input type="radio" name="op" /> Trừ <input type="radio" name="op" /> Nhân <input type="radio" name="op" /> Chia <input type="radio" name="op" />
        <br />
        <button>Calculate</button>
    </form>
</div>
