
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr {
        border: solid black 1px;
    }
    td {
        border: solid black 1px;
    }
</style>
<h2>Thông tin sinh viên</h2>
<table border="1" style="border-collapse:collapse">
    <tr>
        <th>Thông tin sinh viên</th>
    </tr>
    <tr>
        <td>Mã SV: </td>
        <td style="padding-right: 200px">SV001</td>
    </tr>
    <tr>
        <td>Họ tên: </td>
        <td>Lê Thị Vân</td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td>16-09-2003</td>
    </tr>
    <tr>
        <td>Quê quán</td>
        <td>Nam Từ Liêm, Hà Nội</td>
    </tr>
</table>

