
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        border: 1px solid black;
    }
</style>
<h2>Nhập nhân viên</h2>
<table border="1" cellpadding="5">
    <tr>
        <td>Mã nhân viên:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Giới tính:</td>
        <td>
            Nam <input type="radio" checked="checked" id="radNam" name="gen" value="nam" />
            Nữ <input type="radio" id="radNu" name="gen" value="nu" />
        </td>
    </tr>
    <tr>
        <td>Chức vụ:</td>
        <td>
            <select name="chucvu">
                <option value="truongphong">Trưởng phòng</option>
                <option value="nhanvien">Nhân viên</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Ngoại ngữ:</td>
        <td>
            <input type="checkbox" id="cbAnh" /> Anh
            <input type="checkbox" id="cbPhap" /> Pháp
            <input type="checkbox" id="cbNga" /> Nga
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="display: flex; justify-content:center">
                <button type="submit" style="margin-right: 20px">Lưu</button>
                <button type="reset">Xóa</button>
            </div>
        </td>
    </tr>
</table>

