
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        border: 1px solid black;
    }
</style>
<h2>Nhập nhân viên</h2>
<table border="1" cellpadding="5">
    <tr>
        <td>Mã nhân viên:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Ngày sinh:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Giới tính:</td>
        <td>
            Nam <input type="radio" checked="checked" id="radNam" name="gen" value="nam" />
            <input type="radio" id="radNu" name="gen" value="nu" />
        </td>
    </tr>
    <tr>
        <td>Chức vụ:</td>
        <td>
            <asp:DropDownList ID="ddlChucVu" AutoPostBack="true" runat="server">
                <asp:ListItem Text="Trưởng phòng" Value="TruongPhong" Selected="True"></asp:ListItem>
                <asp:ListItem Text="Phó trưởng phòng" Value="PhoTruongPhong" />
                <asp:ListItem Text="Nhân viên" Value="NhanVien"></asp:ListItem>
            </asp:DropDownList>
        </td>
    </tr>
    <tr>
        <td>Ngoại ngữ:</td>
        <td>
            <asp:CheckBoxList ID="cblNgoaiNgu" RepeatDirection="Horizontal" runat="server">
                <asp:ListItem Selected="True" Value="anh">Anh</asp:ListItem>
                <asp:ListItem Value="phap">Pháp</asp:ListItem>
                <asp:ListItem Value="nga">Nga</asp:ListItem>
            </asp:CheckBoxList>
        </td>
    </tr>
</table>

