
@{
    ViewBag.Title = "ThongTinSinhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>--- Thông tin sinh viên ---</h2>
<p>Mã sinh viên: 2021604440</p>
<p>Họ tên: Hoàng Xuân Quý</p>
<p>Ngày sinh: 25/02/2003</p>
<p>Địa chỉ: Ninh Bình</p>
